{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% load widget_tweaks %}
{% block title %} | Register {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <link rel="stylesheet" href={% static "account/styles.css" %}>
    <section id="register" class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h4>
                                <i class="fas fa-user-plus"></i> Register</h4>
                        </div>
                        <div class="card-body">

                            {% include "partials/alerts.html" %}
                            <form action="{% url 'register' %}" method="POST">
                                {% csrf_token %}
                                {% if form.errors %}
                                    <ul>
                                        {% for error in form.errors %}
                                            <li>{{ error.errors }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                {% if  form.first_name.errors.keys.count > 0 %}
                                    <div class="alert alert-danger">{{ form.first_name.errors }}</div>
                                {% endif %}
                                <div class="form-group">
                                    <label for="first_name">First Name</label>
                                    {#                                    <input type="text" name="first_name" class="form-control" required>#}
                                    {{ form.first_name|as_crispy_field }}
                                </div>
                                {% if  form.last_name.errors.keys.count > 0 %}
                                    <div class="alert alert-danger">{{ form.last_name.errors }}</div>
                                {% endif %}
                                <div class="form-group">
                                    <label for="last_name">Last Name</label>
                                    {#                                    <input type="text" name="last_name" class="form-control" required>#}
                                    {{ form.last_name|as_crispy_field }}
                                </div>
                                {% if  form.username.errors.keys.count > 0 %}

                                    <div class="alert alert-danger">{{ form.username.errors }}</div>
                                {% endif %}
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    {#                                    <input type="text" name="user_name" class="form-control" required>#}
                                    {{ form.username|as_crispy_field }}
                                </div>
                                {% if  form.email.errors.keys.count > 0 %}

                                    <div class="alert alert-danger">{{ form.email.errors }}</div>
                                {% endif %}
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    {#                                    <input type="email" name="email" class="form-control" required>#}
                                    {{ form.email|as_crispy_field }}
                                </div>
                                {% if  form.password1.errors.keys.count > 0 %}

                                    <div class="alert alert-danger">{{ form.password1.errors }}</div>
                                {% endif %}
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    {#                                    <input type="password" name="password" class="form-control" required>#}
                                    {{ form.password1|as_crispy_field }}
                                </div>
                                {% if  form.password1.errors.keys.count > 0 %}

                                    <div class="alert alert-danger">{{ form.password1.errors }}</div>
                                {% endif %}
                                <div class="form-group">
                                    <label for="password2">Confirm Password</label>
                                    {#                                    <input type="password" name="password2" class="form-control" required>#}
                                    {{ form.password2|as_crispy_field }}
                                </div>
                                <input type="submit" value="Register" class="btn btn-secondary btn-block">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'account/main.js' %}"></script>
{% endblock %}