{% extends "base.html" %}
{% load humanize %}
{% block title %} | Register {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

    <section id="register" class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h4>
                                <i class="fas fa-user-plus"></i> Register</h4>
                        </div>
                        <div class="card-body">

                            {% include "partials/alerts.html" %}
                            <form action="{% url 'register' %}" method="POST">
                                {% csrf_token %}
                                {% if  form.errors.first_name |   length >= 0 %}
                                    <div class="alert alert-danger">{{ form.errors.first_name }}</div>
                                {% endif %}
                                <div class="form-group">
                                    <label for="first_name">First Name</label>
                                    {#                                    <input type="text" name="first_name" class="form-control" required>#}
                                    {{ form.first_name|as_crispy_field }}
                                </div>
                                {% if  form.errors.last_name | length >= 0 %}
                                    <div class="alert alert-danger">{{ form.errors.last_name }}</div>
                                {% endif %}
                                <div class="form-group">
                                    <label for="last_name">Last Name</label>
                                    {#                                    <input type="text" name="last_name" class="form-control" required>#}
                                    {{ form.last_name|as_crispy_field }}
                                </div>
                                {% if  form.errors.username | length >= 0%}
                                    <div class="alert alert-danger">{{ form.errors.username }}</div>
                                {% endif %}
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    {#                                    <input type="text" name="user_name" class="form-control" required>#}
                                    {{ form.username|as_crispy_field }}
                                </div>
                                {% if  form.errors.email | length >= 0%}
                                    <div class="alert alert-danger">{{ form.errors.email }}</div>
                                {% endif %}
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    {#                                    <input type="email" name="email" class="form-control" required>#}
                                    {{ form.email|as_crispy_field }}
                                </div>
                                {% if  form.errors.password1 | length >= 0%}
                                    <div class="alert alert-danger">{{ form.errors.password1 }}</div>
                                {% endif %}
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    {#                                    <input type="password" name="password" class="form-control" required>#}
                                    {{ form.password1|as_crispy_field }}
                                </div>
                                {% if  form.errors.password2 | length >= 0%}
                                    <div class="alert alert-danger">{{ form.errors.password1 }}</div>
                                {% endif %}
                                <div class="form-group">
                                    <label for="password2">Confirm Password</label>
                                    {#                                    <input type="password" name="password2" class="form-control" required>#}
                                    {{ form.password2|as_crispy_field }}
                                </div>
                                <input type="submit" value="Register" class="btn btn-secondary btn-block">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}